section.career
	.container
		.career-list.row
			.col-md-4.col-6
				.career-item
					img(src="./images/img-career-1.png", alt="").career-icon
					p.career-text Engineering
			.col-md-4.col-6
				.career-item
					img(src="./images/img-career-2.png", alt="").career-icon
					p.career-text Accounting
			.col-md-4.col-6
				.career-item
					img(src="./images/img-career-3.png", alt="").career-icon
					p.career-text Creative
			.col-md-4.col-6
				.career-item
					img(src="./images/img-career-4.png", alt="").career-icon
					p.career-text Design
			.col-md-4.col-6
				.career-item
					img(src="./images/img-career-5.png", alt="").career-icon
					p.career-text Physics
			.col-md-4.col-6
				.career-item
					img(src="./images/img-career-6.png", alt="").career-icon
					p.career-text Chemistry


