section.news 
	.container 
		.news-head.row.align-items-end
			.col-lg-8.col-xl-9
				.news-head-left
					h4.news-title Our University News
					p.news-subtitle A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked punch!
			.col-lg-3.col-xl-offset-2.col-xl-3
				.news-head-right
					button.news-all.pt-2 All news post
		.news-list.row
			.col-md-6
				.news-item 
					h3.news-name I am from France
					p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
					.news-other 
						.news-interactive
							i.fa.fa-heart.news-icon
							span.news-num-heart.active 21
							i.fas.fa-comment-dots.news-icon
							span 50
						span.news-date 5 November
			.col-md-6
				.news-item 
					h3.news-name I am from France
					p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
					.news-other 
						.news-interactive
							i.fa.fa-heart.news-icon.active
							span.news-num-heart 21
							i.fas.fa-comment-dots.news-icon
							span 50
						span.news-date 5 November
			.col-md-6
				.news-item 
					h3.news-name I am from France
					p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
					.news-other 
						.news-interactive
							i.fa.fa-heart.news-icon
							span.news-num-heart 21
							i.fas.fa-comment-dots.news-icon
							span 50
						span.news-date 5 November
			.col-md-6
				.news-item 
					h3.news-name I am from France
					p.news-desc Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
					.news-other 
						.news-interactive
							i.fa.fa-heart.news-icon
							span.news-num-heart 21
							i.fas.fa-comment-dots.news-icon.active
							span 50
						span.news-date 5 November
			