.department {
  transform: translateY(-80px);
  &-head {
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  &-head-title {
    font-size: 4rem;
    color: $title-color;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 2.5rem;
    margin-bottom: 0;
  }
  &-item {
    background-color: #f9703a;
    text-align: center;
    padding-top: 4rem;
    height: 42.5rem;
    &-thumb {
      max-width: 30rem;
      max-height: 30rem;
      margin: 0 auto;
      img {
        margin: 0 auto;
        object-fit: cover;
      }
    }

    h4 {
      font-size: 3rem;
      color: #fff;
      font-weight: 700;
      text-transform: capitalize;
    }
  }
  &-wrapper-item:nth-child(2) {
    .department-item {
      background-color: #80be41;
    }
  }
  &-wrapper-item:nth-child(3) {
    .department-item {
      background-color: #ffb258;
    }
  }
  @include maxWidth(1024px) {
    &-item {
      padding-top: 1rem;
      height: 32rem;
    }
    &-item-thumb {
      max-width: 20rem;
      max-height: 20rem;
    }
  }
  @include maxWidth(767px) {
    transform: translateY(-5rem);
    &-list {
      display: block;
    }
    &-head {
      padding-bottom: 5rem;
    }
    &-item {
      width: calc(100%);
      padding-top: 3rem;
      height: 25rem;
      &-thumb {
        max-width: 15rem;
        max-height: 15rem;
      }
      h4 {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
  }
  @include maxWidth(360px) {
    &-head {
      padding-bottom: 3rem;
    }
    &-head-title {
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    &-item {
      padding-top: 2rem;
      height: 20rem;
      &-thumb {
        max-width: 13rem;
        max-height: 13rem;
      }
      h4 {
        font-size: 2rem;
      }
    }
  }
}
